@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background: linear-gradient(rgb(12, 12, 146),rgb(29, 29, 141),rgb(72, 72, 148),rgb(107, 107, 202));
}
.name{
    width: 200px;
    min-height: 50px;
    background-color: #4174ab;
    color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
}
.group{
    width: 200px;
    height: 50px;
    background-color: #4174ab;
    color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
}
.box {
    width: 80%;
    min-height: 600px;
    background-color: #4174ab;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    padding: 20px 10px;
}
.cabinet {
    width: 30%;
    min-height: 100%;
    border-radius: 20px 0px 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center  ;
}
.list{
    width: 80%;
    height: 85%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding-left: 40px;
    text-align: left;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
}
.list li {
    list-style-type: none;
    text-decoration: none;
    color: #4174ab;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
}
.answer {
    width: 70%;
    min-height: 100%;
    border-radius: 20px 20px 20px 20px;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
}
.answer__box{
    width: 80%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.answer__list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    gap: 30px;
    text-align: left;
} 
.answer__list li {
    list-style-type: none;
    text-decoration: none;
}
.get{
    margin-left: 20px;
}
.answer__li {
    color: #4174ab;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
}

.answer__li p {
    position: relative;
}

.answer__li p::before {
    position: absolute;
    bottom: -3px;
    left: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: green;
    transition: all ease-in-out 0.3s;
}

.answer__li.active p::before {
    width: 100%;
}
.answer__li.active p {
    color: green;
    transition: all ease-in-out 0.3s;
}

input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: grey;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type="checkbox"]::after{
    position: absolute;
    content: "\f00c";
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    font-size: 12px;
    color: #fff;
    display: none;
}
input[type="checkbox"]:hover{
    background-color: rgb(158, 150, 150);
}
input[type="checkbox"]:checked{
    background-color: green;
}
input[type="checkbox"]:checked::after{
    display: block;
}
@media screen and (max-width:930px) {
    .box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    .cabinet {
        width: 70%;
        min-height: 20%;
    }
    .list{
        width: 100%;
        height: 85%;
    }
    .answer{
        border-radius: 20px;
    }
    .answer__box{
        width: 100%;
        height: 100%;
        padding: 20px 10px;
    }
}
@media screen and (max-width:750px) {
    .answer{
        width: 80%;
    }
}
@media screen and (max-width:660px) {
    .answer{
        width: 100%;
    }
}
@media screen and (max-width:540px) {
    .box {
        width: 95%;
}}
